@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
nav{
  background-color: #141421a3;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
nav a{
  padding: 1.8vh;
  background-color: #2e468fd3;
  text-decoration: none;
  color: white;
}
nav a:hover{
  background-color: rgba(128, 0, 128, 0.387);
  color: white;
}
#title{
  background-image: url(space-7307386_1280.png);
  background-size: 170vh;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  height: 70vh;
  margin-bottom: 5%;
  padding-top: 10vh;
  padding-bottom: 30vh;
}
#title h1{
  background-image: url(sun-304807_1280.png);
  background-size: 50vh;
  font-size: 2.8vh;
  font-family: "Roboto Mono", monospace;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
#saturn{
  position: relative;
  animation: circle 8s infinite linear; 
}
#mars{
  position: relative;
  animation: circle 10s infinite linear; 
}
#neptune{
  position: relative;
  animation: smallCircle 8s infinite linear; 
}
#moon{
  position: relative;
  animation: smallCircle 10s infinite linear; 
}
#rocket{
  margin-left: 40%;
  margin-top: 20%;
  position: relative;
  animation: Bigcircle 15s infinite linear; 
}
@keyframes smallCircle { 
  0% { 
      transform: rotate(0deg)  
            translateY(100px) rotate(0deg); 
  } 

  100% { 
      transform: rotate(360deg)  
            translateY(100px) rotate(-360deg); 
  } 
} 
@keyframes circle { 
  0% { 
      transform: rotate(0deg)  
            translateY(200px) rotate(0deg); 
  } 

  100% { 
      transform: rotate(360deg)  
            translateY(200px) rotate(-360deg); 
  } 
} 
@keyframes Bigcircle { 
  0% { 
      transform: rotate(0deg)  
            translateY(350px) rotate(0deg); 
  } 

  100% { 
      transform: rotate(360deg)  
            translateY(350px) rotate(-360deg); 
  } 
} 
body{
  background-image: url(Galaxy12.jpg);
  color: white;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 1.8vh;
}
#numPeopleInSpace{
  background-image: url(astronaut-2025894_1280.png);
  background-size: 50vh;
  background-repeat: no-repeat;
  font-size: 2.7vh;
  background-color: #141421ca;
  padding-top: 15vh;
  padding-bottom: 15vh;
  margin-bottom: 1%;
  box-shadow: 0.5em 0.5em 0.45em rgba(250, 246, 246, 0.664);
}
#spacePeople{
  background-color: #7f56b85f;
  color: white;
  font-size: 2.2vh;
  padding-top: 18vh;
  padding-bottom: 21.5vh;
  float: right;
  width: 50%;
  position: relative;
  animation: moveSide 25s infinite linear; 
}
@keyframes moveSide {
  0%   {right:0px; top:0px;}
  15%  {right:300px; top:0px;}
  30%  {right:500px; top:0px;}
  45%  {right:700px; top:0px;}
  60%  {right:500px; top:0px;}
  75%  {right:300px; top:0px;}
  100% {right:0px; top:0px;}
}
#background{
  background-image: url(starry-sky-2675322_1280.jpg);
  background-repeat: no-repeat;
  background-size: 180vh;
  height: 80vh;
}
#col{
  padding-top: 20vh;
  padding-bottom: 10vh;
  clear: both;
}
#picture{
  float: right;
  width: 50%
}
#col2{
  float:left;
  width: 50%;
  background-color: #3b80a8bd;
  color: black;
  font-weight: bolder;
  font-size: 2vh;
  padding-top: 0.8vh;
  padding-bottom: 11.6vh;
}
#col2 img{
  text-align: left;
  position: relative;
  animation: move 18s infinite linear; 
}
@keyframes move {
  0%   {left:0px; top:20px;}
  20%  {left:300px; top:20px;}
  40%  {left:300px; top:410px;}
  60%  {left:-300px; top:410px;}
  80%  {left:-300px; top:20px;}
  100% {left:0px; top:20px;}
}
#col1{
  padding-bottom: 70vh;
  clear: both;
}
#col1 p{
  font-size: 2vh;
}
#col4{
  float: right;
  width: 40%;
  background-image: url(stars-2539245_1280.jpg);
  height: 90vh;
  font-size: 2vh;
  font-weight: bold;
}
#knowncount img{
  width: 5%;
}

#picture2{
  float: left;
  width: 50%;
}
#id{
  background-image: url(stars-2539245_1280.jpg);
  float: left;
  width: 60%;
  height: 90vh;
}
#id button a{
  text-decoration: none;
  color: black;
  font-size: 2vh;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
#id button{
  background-color: rgb(41, 190, 41);
  padding: 2vh;
  border: 0.25vh solid white;
}
#id img{
  box-shadow: 0.5em 0.5em 0.45em rgba(250, 246, 246, 0.664);
}
#text{
  font-size: 2.2vh;
}
#col3{
  clear: both;
  padding-bottom: 110vh;
}
#col3 p{
  background-image: url(earth-23593_1280.png);
  background-repeat: no-repeat;
  background-size: 80vh;
  background-position: center;
  background-color: #1414219b;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 2.7vh;
  box-shadow: 0.5em 0.5em 0.45em rgba(250, 246, 246, 0.664);
}
#issTitle{
  background-image: url(ufo-297549_1280.png);
  background-size: 100vh;
  background-repeat: no-repeat;
  font-size: 2.7vh;
  font-weight: bold;
  background-color: #3b80a8aa;
  padding-top: 12vh;
  padding-bottom: 12vh;
  color: black;
  box-shadow: 0.5em 0.5em 0.45em rgba(250, 246, 246, 0.664);
}
.column {
  float: left;
}
.left, .right {
  width: 30%;
}
.middle {
  width: 30%;
}
#col2 button{
  padding: 2vh;
  background-color: #7f56b8ba;
  border: 0.25vh solid white;
}
#col2 button a{
  color: black;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
#solar img{
  width: 12%;
}
#solar{
  font-size: 2vh;
  background-color: #141421b9;
  box-shadow: 0px 0px 0.5em 0.5em rgba(250, 246, 246, 0.664);
}
#col6{
  background-color: #14142195;
}
#col6 h2{
  background-image: url(stars-2643089_1280.jpg);
  background-size: 180vh;
  font-size: 2.7vh;
  background-color: #141421ca;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-bottom: 4%;
  box-shadow: 0.5em 0.5em 0.45em rgba(250, 246, 246, 0.664);
}
.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#planets img{
  padding-top: 50vh;
}

